<div class='container'>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2'>
      <h1>Log in</h1>
      <%= form_for(:session, url: sessions_url) do |f| %>
        <div class='input-group'>
          <%= f.email_field :email, placeholder: 'Email' %>
        </div>
        <div class='input-group'>
          <%= f.password_field :password, placeholder: 'Password' %>
        </div>
        <%= f.submit 'Log in', class: 'btn' %>
      <% end %>
    </div>
  </div>
</div>
