.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  margin-bottom: 18px;
  width: 100%;

  label {
    display: block;
  }

  input, textarea {
    display: table-cell;
    width: 100%;
    margin-bottom: 0;
  }

  input[type="text"], input[type="password"], input[type="email"], input[type="date"], textarea {
    height: 44px;
    border: none;
    outline: none;
    padding: 10px;
    background-color: #eee;
    @include border-radius;
  }
}