<div class='container'>
  <div class='row'>
    <div class='col-md-8 col-md-offset-2'>
      <h1>Your Places</h1>
      <%= render 'create' %>
      <div id='places'>
        <%= render @places %>
      </div>
    </div>
  </div>
</div>
